*{
    box-sizing: border-box;
}

form{
    background-color: blue;
    text-align: center;
    align-items: center;
    border-radius: 1vh;
    border: yellowgreen solid 7px;
}
.lab{
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}

.f{
    margin-top: 20%;
    display: grid;
    justify-content: center;
    justify-self: start;
}
